h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

.name, .price, .slogan {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.name, .price {
    font-size: small;
}

.slogan {
    font-size: larger;
}

.menu > a:visited {
    color: white;
}

.product {
    margin: 0 10px 10px 10px;
}

.product > img {
    width: 100%;
}

.product > p {
    text-align: center;
}

.section-name {
    font-size: xx-large;
}

.banner {
    position: relative;
}

.banner button {
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 92.5%;
    left: 46%;
}

.banner button:hover {
    background-color: transparent;
}

.banner button:active {
    outline: none;
    background-color: transparent;
}

h1 a:link {
    color: black;
    text-decoration: none;
}

h1 a:visited {
    color: black;
    text-decoration: none;
}